<footer class="pt-5">
        <section class="footer p-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6 text-center">
                        <img src="/catalog/view/theme/summonrain/image/logotype.png" alt="">
                    </div>
                    <div class="col-md-3 col-6 pt-4">

                        <ul class="list-unstyled">
                            <li><a href="#" class="pb-1">Особистий кабінет</a></li>
                            <li><a href="#" class="pb-1">Головна</a></li>
                            <li><a href="#" class="pb-1">Каталог</a></li>
                            <li><a href="#" class="pb-1">Контакти</a></li>
                            <li><a href="#" class="pb-1">Про компанію</a></li>
                            <li><a href="#" class="pb-1">Договір оферти</a></li>
                            <li><a href="#" class="pb-1">Оплата і доставка</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6 pt-4">

                        <ul class="list-unstyled footer-desc">
                            <li>
                                <a href="tel:380980099800" class="p-2"><i class="fa-solid fa-phone pe-2 "></i> +380 98 00 99
                                    800</a>
                            </li>
                            <li>
                                <p class="p-2"><i class="fa-regular fa-clock pe-2 "></i> Щодня <br> з 10:00 до
                                    21:00
                            </li>
                            </p>
                            <a href="#" class="p-2"><i class="fa-brands white fa-instagram"></i></a>
                            <a href="#" class="p-2"><i class="fa-brands white fa-telegram"></i></a>
                            <a href="#" class="p-2"><i class="fa-brands white fa-viber"></i></a>
                        </ul>
                    </div>

                    <div class="col-md-3 col-6 pt-4">

                        <ul class="list-unstyled footer-desc text-center">
                            <li>
                                <p class="p-1"><i class="fa-solid fa-money-bill-wave"></i> Приймаємо до оплати:
                            </li>
                            </p>
                            <i class="fa-brands fa-cc-visa pt-1 p-2"></i>
                            <i class="fa-brands fa-cc-mastercard"></i>
                        </ul>
                    </div>
                    <div class="footer-desc white text-center pt-5">
                        © 2023, Summon Rain.
                    </div>
                </div>
            </div>
        </section>
    </footer>

</body></html>